In [1]:
import pandas as pd
import numpy as np
import os
import glob

In [2]:
# Registration Id del globo a juntar
folder = 'N789LB'

os.chdir("/Users/toni/Documents/TFG/og_data/flight_radar_data/" + folder)

extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])

In [3]:
# The combined data is our baseline to work with
bl = combined_csv

In [4]:
# Match column names
bl = bl.rename({'UTC': 'ts', 'Callsign': 'aircraft_id', 'Altitude': 'alt', 'Speed': 'speed'}, axis='columns')

In [5]:
bl

,Timestamp,ts,aircraft_id,Position,alt,speed,Direction
0,1581166956,2020-02-08T13:02:36Z,HBAL043,"-10.573517,-73.342453",59700,31,290
1,1581167000,2020-02-08T13:03:20Z,HBAL043,"-10.571455,-73.348434",59700,31,288
2,1581167090,2020-02-08T13:04:50Z,HBAL043,"-10.567777,-73.36087",59600,30,285
3,1581167136,2020-02-08T13:05:36Z,HBAL043,"-10.566195,-73.367134",59400,29,283
4,1581167807,2020-02-08T13:16:47Z,HBAL043,"-10.544175,-73.456566",60000,29,283
...,...,...,...,...,...,...,...
59,1546879673,2019-01-07T16:47:53Z,HBAL523,"0.853088,-73.148972",53600,1,315
60,1546879780,2019-01-07T16:49:40Z,HBAL523,"0.852676,-73.149536",53700,2,225
61,1546879799,2019-01-07T16:49:59Z,HBAL523,"0.852465,-73.149719",53700,2,225
62,1546884066,2019-01-07T18:01:06Z,HBAL523,"0.735901,-73.122437",53500,9,161
63,1546884113,2019-01-07T18:01:53Z,HBAL523,"0.734082,-73.121971",53500,8,165

In [6]:
# Format columns
bl['ts'] = pd.to_datetime(bl['ts'], utc=True)

#bl['registration_id'] = folder.split('-')[1]
bl['registration_id'] = folder

In [7]:
# Checking on flightRadar map the position format is (lat, lon)
def split_position(pos):
    position = pos.split(',')
    lat = position[0]
    lon = position[1]
    
    return pd.Series((lat, lon))
bl[['lat', 'lon']] = bl['Position'].apply(lambda r: split_position(r))

In [8]:
# Get rid of old columns
bl = bl.drop('Timestamp', axis='columns')
bl = bl.drop('Position', axis='columns')

In [9]:
bl.sort_values('ts').reset_index().tail()

,index,ts,aircraft_id,alt,speed,Direction,registration_id,lat,lon
198609,2966,2020-05-04 08:29:42+00:00,HBAL043,61400,18,288,N789LB,-3.685401,-83.218498
198610,2967,2020-05-04 08:36:10+00:00,HBAL043,61400,17,300,N789LB,-3.671482,-83.247719
198611,2968,2020-05-04 08:37:46+00:00,HBAL043,61400,17,296,N789LB,-3.667804,-83.254539
198612,0,2020-05-04 09:31:52+00:00,HBAL043,61300,17,276,N789LB,-3.589142,-83.49498
198613,1,2020-05-04 09:32:18+00:00,HBAL043,61300,17,276,N789LB,-3.588913,-83.496887

In [10]:
bl

,ts,aircraft_id,alt,speed,Direction,registration_id,lat,lon
0,2020-02-08 13:02:36+00:00,HBAL043,59700,31,290,N789LB,-10.573517,-73.342453
1,2020-02-08 13:03:20+00:00,HBAL043,59700,31,288,N789LB,-10.571455,-73.348434
2,2020-02-08 13:04:50+00:00,HBAL043,59600,30,285,N789LB,-10.567777,-73.36087
3,2020-02-08 13:05:36+00:00,HBAL043,59400,29,283,N789LB,-10.566195,-73.367134
4,2020-02-08 13:16:47+00:00,HBAL043,60000,29,283,N789LB,-10.544175,-73.456566
...,...,...,...,...,...,...,...,...
59,2019-01-07 16:47:53+00:00,HBAL523,53600,1,315,N789LB,0.853088,-73.148972
60,2019-01-07 16:49:40+00:00,HBAL523,53700,2,225,N789LB,0.852676,-73.149536
61,2019-01-07 16:49:59+00:00,HBAL523,53700,2,225,N789LB,0.852465,-73.149719
62,2019-01-07 18:01:06+00:00,HBAL523,53500,9,161,N789LB,0.735901,-73.122437
63,2019-01-07 18:01:53+00:00,HBAL523,53500,8,165,N789LB,0.734082,-73.121971

In [ ]:
#export to csv
bl.to_csv( folder + ".csv", index=False, encoding='utf-8-sig')